<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="my-4">Dashboard</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="card bg-primary text-white mb-4">
        <%= link_to "Total de Eventos", super_admins_events_path, class: "card-body text-decoration-none" %>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <h4><%= @events.count %></h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card bg-success text-white mb-4">
        <%= link_to "Total de Categorías", super_admins_categories_path, class: "card-body text-decoration-none" %>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <h4><%= @categories.count %></h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card bg-info text-white mb-4">
        <%= link_to "Total de ciudades", super_admins_cities_path, class: "card-body text-decoration-none" %>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <h4><%= @cities.count %></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-chart-bar"></i>
          Eventos por Categoría
        </div>
        <div class="card-body">
          <canvas 
            data-controller="events-by-category"
            data-events-by-category-target="chart"
            data-events-by-category-labels="<%= @chart_data[:labels].to_json %>"
            data-events-by-category-data="<%= @chart_data[:data].to_json %>"
            width="400"
            height="200">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
             <div class="card-body">
          <canvas 
            data-controller="events-by-category"
            data-events-by-category-target="chart"
            data-events-by-category-labels="<%= @chart_data[:labels].to_json %>"
            data-events-by-category-data="<%= @chart_data[:data].to_json %>"
            width="400"
            height="200">
          </canvas>
        </div>
    </div>
  </div>

<div class="row">
  <div class="col-lg-6">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table"></i>
        Últimos Eventos Creados
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <% @latest_events.each do |event| %>
            <li class="list-group-item"><%= event.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-user"></i>
        Últimos Usuarios Registrados
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <% @latest_users.each do |user| %>
            <li class="list-group-item"><%= user.email %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-plus"></i>
          Crear Nuevo Evento
        </div>
        <div class="card-body">
          <a href="/events/new" class="btn btn-primary">Crear Evento</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-edit"></i>
          Administrar Categorías
        </div>
        <div class="card-body">
          <a href="/categories" class="btn btn-success">Gestionar Categorías</a>
        </div>
      </div>
    </div>
  </div>
</div>
