<p>
  <strong>Nombre:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @category.description %>
</p>

<%= link_to 'Editar', edit_super_admins_category_path(@category), class: 'btn btn-primary' %>
<%= link_to 'Eliminar', super_admins_category_path(@category), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger' %>
<%= link_to 'Volver', super_admins_categories_path, class: 'btn btn-secondary' %>
