<div class="event-grid">
  <% @event_approved.each do |event| %>
    <article class="event-card">
      <%= link_to event_path(event) do %>
        <figure class="event-img">
          <%= image_tag event.image, class: "img-fluid", alt: event.name %>
        </figure>
      <% end %>
      <div class="event-details">
        <header>
          <h5 class="event-title"><%= truncate(event.name, length: 50) %></h5>
        </header>
        <p class="event-description"><%= truncate(event.description, length: 60) %></p>
        <p class="event-dates">
          <i class="fa fa-calendar"></i>
          <%= l(event.start_datetime, format: :short) %> - <%= l(event.end_datetime, format: :short) %>
        </p>
        <footer class="event-footer">
          <div class="event-price">
            <small class="text-muted">Desde:</small>
            <strong>S/ <%= event.minimum_ticket_price %></strong>
          </div>
          <div class="details-link">
            <%= link_to "Detalles", event_path(event), class: "btn btn-primary" %>
          </div>
        </footer>
      </div>
    </article>
  <% end %>
</div>
