<div class="container">
  <h1 class="mt-4">Admin Details</h1>

  <div class="card">
    <div class="card-body">
      <p class="card-text">
        <strong>First Name:</strong>
        <%= @admin.first_name %>
      </p>

      <p class="card-text">
        <strong>Last Name:</strong>
        <%= @admin.last_name %>
      </p>

      <p class="card-text">
        <strong>Email:</strong>
        <%= @admin.email %>
      </p>

      <p class="card-text">
        <strong>Role:</strong>
        <%= @admin.role.titleize %>
      </p>
      
      <%= link_to 'Edit', edit_super_admins_admin_path(@admin), class: "btn btn-warning" %>
      <%= link_to 'Back', super_admins_admins_path, class: "btn btn-secondary" %>
    </div>
  </div>

  <div class="mt-4">
    <h2>Events</h2>
    <% if @admin.events.any? %>
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>Title</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @admin.events.each do |event| %>
            <tr>
              <td><%= event.id %></td>
              <td><%= event.name %></td>
              <td><%= event.admin_status.titleize %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No events found for this admin.</p>
    <% end %>
  </div>
</div>
