<% provide(:title, 'All Events') %>

<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="fw-bold">Todos los eventos</h1>
    <%= link_to "Nuevo", new_users_event_path, class: 'btn btn-primary' %>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Nombre</th>
          <th>Capacidad</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td><%= link_to event.name, users_event_path(event) %></td>
            <td><%= event.capacity %></td>
            <td>
            <span class="<%= event_status_class(event.admin_status) %>">
              <%= event.admin_status.humanize %>
            </span>
            </td>
            <td>
              <%= link_to users_event_path(event), class: 'btn btn-info btn-sm', title: 'Show' do %>
                <i class="bi bi-eye"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
