<% provide(:title, "Cities") %>

<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="fw-bold">Ciudades</h1>
    <%= link_to 'Nuevo', new_super_admins_city_path, class: 'btn btn-primary' %>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @cities.each do |city| %>
          <tr>
            <td><%= city.name %></td>
            <td>
              <%= link_to super_admins_city_path(city), class: 'btn btn-info btn-sm', title: 'Show' do %>
                <i class="bi bi-eye"></i>
              <% end %>
            </td>
            <td>
              <%= link_to edit_super_admins_city_path(city), class: 'btn btn-warning btn-sm', title: 'Edit' do %>
                <i class="bi bi-pencil"></i>
              <% end %>
            </td>
            <td>
              <%= link_to super_admins_city_path(city), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm', title: 'Delete' do %>
                <i class="bi bi-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
