<% provide(:title, @event.name) %>

<div class="container mt-4">
  <%= link_to "Editar", edit_users_event_path(@event), class: "btn btn-primary mb-3" %>

  <div class="row">
    <!-- Imagen y Detalles del Evento -->
    <div class="col-md-12 mb-4">
      <div class="card">
        <% if @event.image.attached? %>
          <%= image_tag @event.image, class: 'card-img-top img-fluid' %>
        <% end %>
        <div class="card-body">
          <h1 class="card-title"><%= @event.name %></h1>
          <p class="card-text"><%= @event.description %></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Inicio:</strong> <%= @event.start_datetime.strftime("%B %d, %Y %I:%M %p") %></li>
            <li class="list-group-item"><strong>Fin:</strong> <%= @event.end_datetime.strftime("%B %d, %Y %I:%M %p") %></li>
            <li class="list-group-item"><strong>Visibilidad:</strong> <%= @event.visibility.humanize %></li>
            <li class="list-group-item"><strong>Restricción:</strong> <%= @event.restriction.humanize %></li>
            <li class="list-group-item"><strong>Capacidad:</strong> <%= @event.capacity %></li>
            <li class="list-group-item">
              <strong>Video URL:</strong>
              <a href="<%= @event.video_url %>" target="_blank"><%= @event.video_url %></a>
            </li>
            <li class="list-group-item"><strong>Estado:</strong> <%= @event.admin_status.humanize %></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Información de Ubicación y Tickets -->
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Ubicación</h2>
          <% if @event.location.present? %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Ciudad:</strong> <%= @event.city.name %></li>
              <li class="list-group-item"><strong>Dirección:</strong> <%= @event.location.address %></li>
              <li class="list-group-item"><strong>Referencia:</strong> <%= @event.location.reference %></li>
            </ul>
          <% else %>
            <p><strong>Información de ubicación no disponible.</strong></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Tickets Disponibles</h2>
          <% if @event.tickets.present? %>
            <div class="card-deck">
              <% @event.tickets.each do |ticket| %>
                <div class="card mb-4">
                  <div class="card-body">
                    <h5 class="card-title"><%= ticket.ticket_name %></h5>
                    <p class="card-text"><strong>Precio:</strong> <%= ticket.price %> <%= ticket.currency %></p>
                    <p class="card-text"><strong>Disponibles:</strong> <%= ticket.quantity_available %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <p>No hay tickets disponibles para este evento.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
