<% provide(:title, @event.name) %>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title"><%= @event.name %></h1>
          <p class="card-text"><%= @event.description %></p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Start:</strong> <%= @event.start_datetime.strftime("%B %d, %Y %I:%M %p") %></li>
            <li class="list-group-item"><strong>End:</strong> <%= @event.end_datetime.strftime("%B %d, %Y %I:%M %p") %></li>
            <li class="list-group-item"><strong>Visibility:</strong> <%= @event.visibility %></li>
            <li class="list-group-item"><strong>Restriction:</strong> <%= @event.restriction %></li>
            <li class="list-group-item"><strong>Capacity:</strong> <%= @event.capacity %></li>
            <li class="list-group-item"><strong>Video URL:</strong> <%= @event.video_url %></li>
            <li class="list-group-item"><strong>Status:</strong> <%= @event.admin_status %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Location Information</h2>
          <% if @event.location.present? %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>City:</strong> <%= @event.location.city %></li>
              <li class="list-group-item"><strong>Address:</strong> <%= @event.location.address %></li>
              <li class="list-group-item"><strong>Reference:</strong> <%= @event.location.reference %></li>
            </ul>
          <% else %>
            <p><strong>Location information not available.</strong></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <% if @event.image.attached? %>
        <p><strong>Image</strong></p>
        <%= image_tag @event.image %>
      <% end %>
      
    </div>
  </div>
</div>
