<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="dashboard_main">
    <!-- Sidebar -->
    <nav id="sidebar" class="sidebar" data-controller="sidebar" data-sidebar-target="sidebar">
      <ul class="nav">
        <li class="nav-item" data-sidebar-target="navLink">
          <%= link_to super_admins_dashboard_path, class: 'nav-link', data: { search_target: 'dashboard' } do %>
            <i class="bi bi-speedometer2"></i> <span class="sidebar__text">Dashboard</span>
          <% end %>
        </li>
        <li class="nav-item" data-sidebar-target="navLink">
          <%= link_to super_admins_admins_path, class: 'nav-link', data: { search_target: 'users' } do %>
            <i class="bi bi-people"></i> <span class="sidebar__text">Users</span>
          <% end %>
        </li>
        <li class="nav-item" data-sidebar-target="navLink">
          <%= link_to super_admins_categories_path, class: 'nav-link', data: { search_target: 'users' } do %>
            <i class="bi bi-people"></i> <span class="sidebar__text">Categorias</span>
          <% end %>
        </li>
        <li class="nav-item" data-sidebar-target="navLink">
          <%= link_to super_admins_events_path, class: 'nav-link', data: { search_target: 'events' } do %>
            <i class="bi bi-calendar-event"></i> <span class="sidebar__text">Events</span>
          <% end %>
        </li>
        <li class="nav-item" data-sidebar-target="navLink">
          <%= link_to super_admins_admins_path, class: 'nav-link', data: { search_target: 'admins' } do %>
            <i class="bi bi-shield"></i> <span class="sidebar__text">Admins</span>
          <% end %>
        </li>
        <li class="nav-item" data-sidebar-target="navLink">
          <%= link_to super_admins_admins_path, class: 'nav-link', data: { search_target: 'settings' } do %>
            <i class="bi bi-gear"></i> <span class="sidebar__text">Settings</span>
          <% end %>
        </li>
        <li class="nav-item" data-sidebar-target="navLink">
          <%= link_to super_admins_admins_path, class: 'nav-link', data: { search_target: 'stats' } do %>
            <i class="bi bi-bar-chart-line"></i> <span class="sidebar__text">Stats</span>
          <% end %>
        </li>
      </ul>
    </nav>

    <!-- Main content -->
    <main class="main-content">
      <div class="container-fluid">
        <% if notice %>
          <div class="alert alert-primary" role="alert">
            <%= notice %>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-danger" role="alert">
            <%= alert %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </div>
</body>
</html>
